In [25]:
import pandas as pd

In [26]:
mask_all_data = pd.read_excel("./data/litho_western_eruope.xlsx")
mask_all_data

,PN,TI,AU,AE,GA,AB,TF,EA,DC,MC,...,PI,DS,FS,CP,CR,DN,MN,RI,CI,RG
0,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2006594748,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2009H57053,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,ASML HOLDING NV (ASML-C),2006797151,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2008G83324,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2021511336,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,NaN,NaN,NaN,ZEISS SMT AG CARL (ZEIS-C); ZEISS SMT GMBH CA...,2007184894,NaN,NaN,NaN,NaN,NaN,...,NaN,WO2007022922-A2: (National): AE; AG; AL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1137,NaN,NaN,NaN,ZEISS SMT GMBH CARL (ZEIS-C),2022F58822,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1138,NaN,NaN,NaN,ZEISS CARL (ZEIS-C); ZEISS FA CARL (ZEIS-C); ...,2000015164,NaN,NaN,NaN,NaN,NaN,...,NaN,EP955641-A1: (Regional): AL; AT; BE; C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1139,NaN,NaN,NaN,ZEISS SMT GMBH CARL (ZEIS-C); ZEISS SMT GMBH ...,2020900930,NaN,NaN,NaN,NaN,NaN,...,NaN,WO2020177944-A1: (National): AE; AG; ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1140,NaN,NaN,NaN,ZEISS SMT AG CARL (ZEIS-C); ZEISS SMT GMBH CA...,2008G03393,NaN,NaN,NaN,NaN,NaN,...,NaN,WO2008049574-A2: (National): AE; AG; AL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
mask_all_data = mask_all_data.drop_duplicates()
mask_all_data.head()

,PN,TI,AU,AE,GA,AB,TF,EA,DC,MC,...,PI,DS,FS,CP,CR,DN,MN,RI,CI,RG
0,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2006594748,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2009H57053,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,ASML HOLDING NV (ASML-C),2006797151,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2008G83324,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,ASML HOLDING NV (ASML-C); ASML HOLDING NV (AS...,2021511336,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# 提取我们所需要的 GA 和 IP
df_end = mask_all_data[[' GA ',' IP ']]
# 对年进行提取 先将数值转换为字符串 然后去掉前后的空格再提取前四位字符
df_end['year'] = df_end[' GA '].apply(lambda x:str(x).strip()[:4])
# 将 IP 列转换为列表 然后将其转换为多行数据 每行数据只有一个 IPC 
df_end['IP'] = df_end[' IP '].apply(lambda x:str(x).split(";"))
# 提取处理之后的 IPC 和 年份
df_end = df_end[['IP','year']]
# 删除空值
df_end  = df_end.dropna()
# 将列表转换为多行值
df_end = df_end.explode('IP')
# 去掉 IP 里面的空格
df_end['IP'] = df_end['IP'].apply(lambda x: x.strip())
# 重置 index
df_end  = df_end.reset_index(drop=True)
df_end['IP3'] = df_end['IP'].apply(lambda x:x.split('-')[0].strip()[:3])
df_end['IP4'] = df_end['IP'].apply(lambda x:x.split('-')[0].strip())
df_end

c:\Users\afrunk\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\Users\afrunk\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 IP  year  IP3   IP4
0       G06F-003/12  2006  G06  G06F
1     G02F-001/1335  2006  G02  G02F
2      G02F-001/135  2006  G02  G02F
3       G06K-009/00  2006  G06  G06K
4       G21K-005/00  2006  G21  G21K
...             ...   ...  ...   ...
5494   G02B-007/182  2020  G02  G02B
5495    G03F-007/20  2020  G03  G03F
5496    H01F-007/02  2020  H01  H01F
5497   H02K-041/035  2020  H02  H02K
5498    H02K-007/14  2020  H02  H02K

[5499 rows x 4 columns]

In [29]:
df_end.to_csv("./data/litho_western_eruope_deal.csv",index=False)

In [30]:
litho_all_data = pd.read_excel("./data/mask_western_europe.xlsx")
litho_all_data

,PN,TI,AU,AE,GA,AB,TF,EA,DC,MC,...,PI,DS,FS,CP,CR,DN,MN,RI,CI,RG
0,NaN,NaN,NaN,ASML NETHERLANDS BV (ASML-C); ASML NETHERLAND...,2004322041,NaN,NaN,NaN,NaN,NaN,...,NaN,EP1411388-A1: (Regional): AL; AT; BE;...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,ASML NETHERLANDS BV (ASML-C),2006375222,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,ASML NETHERLANDS BV (ASML-C); ASML NETHERLAND...,2007792308,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,ASML NETHERLANDS BV (ASML-C); ZEISS SMT GMBH ...,2020688601,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,ASML NETHERLANDS BV (ASML-C); ASML NETHERLAND...,2004464772,NaN,NaN,NaN,NaN,NaN,...,NaN,EP1434099-A1: (Regional): AL; AT; BE;...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,NaN,NaN,NaN,ZEISS SMT GMBH CARL (ZEIS-C),2013K45067,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,NaN,NaN,NaN,APPLIED MATERIALS ISRAEL LTD (APMA-C); ZEISS ...,2012D98159,NaN,NaN,NaN,NaN,NaN,...,NaN,WO2012041464-A1: (National): AE; AG; AL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,NaN,NaN,NaN,ZEISS SMT GMBH CARL (ZEIS-C); ARNZ M (ARNZ-In...,2013P60598,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,NaN,NaN,NaN,ZEISS SMT GMBH CARL (ZEIS-C),202198858Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,NaN,NaN,NaN,ZEISS CARL (ZEIS-C); ZEISS FA CARL (ZEIS-C); ...,2000015164,NaN,NaN,NaN,NaN,NaN,...,NaN,EP955641-A1: (Regional): AL; AT; BE; C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# 提取 GA 和 IP
df_end2 = litho_all_data[[' GA ',' IP ']]
# 对年进行提取 先将数值转换为字符串 然后去掉前后的空格再提取前四位字符
df_end2['year'] = df_end2[' GA '].apply(lambda x:str(x).strip()[:4])
# 将 IP 列转换为列表 然后将其转换为多行数据 每行数据只有一个 IPC 
df_end2['IP'] = df_end2[' IP '].apply(lambda x:str(x).split(";"))
# 提取处理之后的 IPC 和 年份
df_end2 = df_end2[['IP','year']]
# 删除空值
df_end2  = df_end2.dropna()
# 将列表转换为多行值
df_end2 = df_end2.explode('IP')
# 去掉 IP 里面的空格
df_end2['IP'] = df_end2['IP'].apply(lambda x: x.strip())
# 重置 index
df_end2  = df_end2.reset_index(drop=True)
df_end2['IP3'] = df_end2['IP'].apply(lambda x:x.split('-')[0].strip()[:3])
df_end2['IP4'] = df_end2['IP'].apply(lambda x:x.split('-')[0].strip())
df_end2

c:\Users\afrunk\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\Users\afrunk\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                IP  year  IP3   IP4
0      G03F-001/08  2004  G03  G03F
1     H01L-021/027  2004  H01  H01L
2      G03F-001/00  2004  G03  G03F
3      B08B-007/00  2004  B08  B08B
4      G03F-007/20  2004  G03  G03F
...            ...   ...  ...   ...
3214   G03B-027/72  2000  G03  G03B
3215   G21K-005/10  2000  G21  G21K
3216   G03B-027/70  2000  G03  G03B
3217   A61N-005/00  2000  A61  A61N
3218   G01T-001/20  2000  G01  G01T

[3219 rows x 4 columns]

In [32]:
df_end2.to_csv("./data/mask_western_europe_deal.csv",index=False)